.root {
  display: block;
}

.field {
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--grayF4);
  transition: background-color var(--transition), box-shadow var(--transition);
}

.field::placeholder {
  color: var(--gray99);
}

.field.sm {
  padding: 4px;
}

.field.lg {
  padding: 15px;
}

.field.error {
  border-color: rgb(var(--error));
}

.field.disabled {
  background-color: transparent;
  border-color: var(--grayE4);
}

.field.disabled::placeholder {
  color: var(--grayC4);
}

.field:not(.disabled):hover {
  background-color: var(--grayE4);
}

.field:not(.disabled):focus {
  box-shadow: var(--focus);
}

.errorValue {
  font-size: 14px;
  line-height: 18px;
  color: rgb(var(--error));
}
