.root {

}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 14px;
  border: none;
  outline: none;
  background-color: transparent;
  transition:
    background-color var(--transition),
    box-shadow var(--transition);
}

.btn:active,
.btn:focus {
  box-shadow: var(--focus);
  z-index: 1;
}

.btn:hover {
  background-color: var(--grayF4);
}

.btn.disabled svg path {
  fill: var(--grayC4)
}

.btn.disabled:hover {
  cursor: default;
}

.btn.disabled:active,
.btn.disabled:focus {
  box-shadow: var(--focus-err);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.text {
  color: var(--gray99);
  white-space: nowrap;
}
