@import "styles/variables.css";

.root {
  position: relative;
}

.actionsBtn {
  position: relative;
  flex: 0 0 auto;
  height: 34px;
  background-color: transparent;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  border: none;
  outline: none;
  transition:
    color $transition,
    background-color $transition,
    box-shadow $transition;
}

.actionsBtn:hover {
  background-color: $color-grayF4;
}

.actionsBtn:active {
  background-color: $color-grayE4;
}

.actionsBtn:focus {
  box-shadow: $focus;
}

.actionsList {
  display: flex;
  flex-direction: column;
}
