.root {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 100px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    '.';
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}
