@import 'styles/variables.css';

.root {
  padding: 15px 0;
  box-shadow: 0 10px 63px rgba(0, 0, 0, 0.07);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.link {
  display: flex;
  align-items: center;
}

.link svg path {
  fill: rgb($color-brand);
  transition: fill $transition;
}

.linkText {
  color: rgb($color-brand);
  margin-left: 5px;
  transition: color $transition;
}

.link:hover svg path {
  fill: rgb($color-brand-hover);
}

.link:hover .linkText {
  color: rgb($color-brand-hover);
}
