@import "styles/variables.css";

.root {
}

.stickyInfo,
.inlineInfo {
  color: $color-gray99;
}

.stickyInfo {
  position: sticky;
  bottom: 0;
  display: block;
  padding: 8px;
  margin: 1px 0 0;
  background-color: $color-grayF4;
  z-index: 5;
}

.inlineInfo {
  display: inline-block;
  margin: 12px 0 0;
}
